html {
	position: relative;
	min-height: 100%;
}

a:hover {
	color: #107095 !important;
}

.nav-tabs>li>a {
	color: #fff
}

body {
	background-color: #282828;
}

.alert {
	border-radius: 0px;
}

.btn, .btn:hover, .disabled:hover {
	background-color: rgb(51 51 51);
    border-color: rgb(41 41 41);
	color: #fff
}

.dropdown-menu .divider {
	background-color: #000000
}

.navbar-inverse .navbar-nav>li>a {
	color: #f5f5f5 !important;
}

.navbar {
	border-radius: 0px;
	border-width: 0 1px 2px 1px;
	border-bottom:1px solid #161616;
	background-color: 161616
}

.form-control {
	border-radius: 0px;
	margin-bottom: 2px;
	color: #eeeeee;
    background-color: #101010;
	border-color: #333333
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	opacity: 1;
	background-color: #000000;
}

.fullWidth {
	width: 100%;
}

#lStatus {
	margin: 0 0 0px;
}

.navbar-brand {
	padding: 0px 15px;
}

.center {
	text-align: center;
}

hr {
	margin-bottom: 0px;
	margin-top: 0px;
}

.profileCard {
	border-style: solid;
	border-color: #333333;
	background-color:#1c1c1c;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	padding: 5px;
}

.footer {
	margin-top: 50px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #282828;
}

h3,  h4, p {
	color: #ffffff;
}

b, body
{
	color: #158cba !important;
}

.dropdown-menu, .navbar-nav>li>.dropdown-menu {
	background-color: 000000;
	color: #000;
	border: 1px solid #000
}

.modal-content
  {
    background-color: #1a1a1a;
    border: 1px solid rgb(172, 172, 172);
  }
  
  .list-group-item
  {
    background-color: #1c1c1c;
    border-top-color: #1c1c1c !important;
    border-bottom-color: #1c1c1c !important;
  }

  .list-group
  {
    border: 0px solid #0a0a0a;
  }

  div#posts span
  {
    color: #f6f6f6 !important;
  }
  
   div.well.profileCard
  {
    color: #dfdfdf;
  }

  div#itemsContainer h5
  {
    color: #dfdfdf;
  }

  
  .chatDate {
	color: grey;
	font-size: 9px
}

#chatMessageBox {
	position: fixed;
	top: calc(100% - 36px);
	width: 85%;
	display: inline;
	border: 0px solid rgba(0,0,0,.15);
}

#sendChatButton {
	position: fixed;
	top: calc(100% - 36px);
	width: 15%;
	display: inline;
	float: right;
	margin-left: 85%;
	height: 36px;
	padding: 0px;
	background-color: #fff
}

.chatpicMargin {
	margin-right: 5px
}

.chatMessage {
	background-color: #fff;
	margin-top: 5px;
	font-weight: 100;
	white-space: pre-line;
	text-align: left;
	border-radius: 5px;
	word-wrap: break-word;
	max-width: 100%
}

.chatOpener {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 24px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	cursor: pointer;
	z-index: 1000;
	height: 25px
}

.chatOptions {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 350px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	display: none;
	height: 25px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}

.chatOpenbackground {
	background-color: #dde2e4;
	position: fixed;
	left: calc(100% - 300px);
	top: calc(100% - 325px);
	width: 270px;
	height: 325px;
	display: none;
	overflow-y: scroll;
	height: 325px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}

/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
}




h1{
    font-size:16px;
    font-weight: bolder;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */

.img-fluid{
    width: 50px;
    height: 50px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#2596be;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:rgb(0,0,0,0.1);
}

.subforum-description *{
    margin-block: 0;
}

.bicenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    

  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  }
/*   Header Section    */


  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:#52057b;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

  /* Search Box styles */
.search-box{
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2596be;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: rgb(0,0,0,0.1);
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #000000;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #000000;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2596be;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: rgb(0,0,0,0.1);
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 100px;
    max-height: 100px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

.img-forum{
    width: 400px;
    height: 130px;
}

.img-catalog{
    width: 25px;
    height: 25px;
}

.img-project{
    width: 25px;
    height: 26px;
}

.img-ylm{
    width: 200px;
    height: 200px;
}







.yup {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.yup span {
  display: block;
  font-size: 4.5rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.img-creations{
    width: 700px;
    height: 100px;
}

.nofullWidth {
    width: 69%;
}
